[Unit]
Description=do
After=multi-user.target
[Service]
Type=simple
Restart=always
WorkingDirectory=/root/do
ExecStart=/usr/bin/python3 /root/do/main.py
[Install]                                    
WantedBy=multi-user.target
